<div class="header_btm">
    <div class="wrap">
        <div class="header_sub">
            <div class="mh_menu">
                <ul>
                    <li>
                        <img src="/images/logo.png" class="logo" />
                    </li>
                    <li><a href="/">首页</a>
                    </li> |
                    <li><a href="/allProducts">全部商品</a>
                    </li> |
                    <li><a href="/videos">视频</a>
                    </li> |
                   <!--  <li><a href="/diy">DIY</a>
                   </li> | -->
                    <li><a href="/news">资讯</a>
                    </li> |
                    <li><a href="#" data-toggle="modal" data-target="#putProduct">分享产品</a>
                    </li> |
                    <input type="text" value="">
                   <!--  <input type="submit" class="btn main-search" value="搜索">  -->
                    {% if sessionUser %}
                   
                    <div class="userDrop">
                        <div class="dropdown userDrop">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            {{sessionUser.name}}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/user/userInfo">用户中心</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/user/art">我的文章</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">退出</a></li>
                          </ul>
                        </div>
                    </div>
                   
                    {% else %}
                    <li class="login"><a href="#" data-toggle="modal" data-target="#js-modal-login">登录</a>
                    </li>
                    {% endif %}
                   
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
