<!DOCTYPE html>
<html>

<head>
    <title>智能硬件平台</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jquery.bxslider.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/news.css">
    <link rel="stylesheet" href="/styles/owl.carousel.css">
    <link rel="stylesheet" href="/styles/productviewgallery.css">
    <link rel="stylesheet" href="/styles/slider.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
    <style type="text/css">

    </style>
    
</head>

<body>
	{% include './partials/header.html'%}

    {% block content %}{% endblock %}

	{% include './partials/footer.html'%}

	{% include './partials/modal/login.html'%}

	{% include './partials/modal/product.html'%}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.bxslider.min.js"></script>
    <script src="/js/filePreview.js"></script>
    <script src="/js/main.js"></script>
    
</body>

</html>
