<!DOCTYPE html
<html>
  <head>
    <title>智能硬件平台</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	

   

	<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="/bower_components/bxslider-4/dist/jquery.bxslider.css" rel="stylesheet">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/owl.carousel.css">
    <link rel="stylesheet" href="/styles/productviewgallery.css">
    <link rel="stylesheet" href="/styles/slider.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
        <style>
			.uploader_queue ul li.uploader_button {
				width: 80px;
				height: 80px;
				border: 2px dashed #eee;
				cursor: pointer;
				color: #eee;
				font-size: 60px;
				line-height: 70px;
				margin-bottom: 14px;
				margin-right: 14px;
				text-align: center;
			}
			.form-control {
				display: block;
				width: 100%;
				height: 34px;
				padding: 6px 12px;
				font-size: 14px;
				line-height: 1.428571429;
				color: #777;
				background-color: #fff;
				background-image: none;
				border: 1px solid #ccc;
				border-radius: 4px;
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
				-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
				transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
			}
			.modal.new-thing .form-control {
				font-size: 14px;
				border: none;
				box-shadow: none;
				text-align: left !important;
			}
			.modal.new-thing.local .uploader_label {
				color: #999;
				font-size: 14px;
				margin-bottom: 10px;
				position: relative;
				padding: 6px 12px;
			}
			.modal.new-thing .form-control.dark {
				background-color: #F7F7F7;
				border-radius: 20px;
				padding: 20px;
				font-size: 10px;
				resize: none;
			}

			.bx-caption{
				text-align: center;
			}

			section{
				margin: 50px 0;
			}
			.owl-carousel{
				display: block;
			}

			.bx-wrapper img{
				width:100%;
			}
			.row.product{
				padding-top: 50px;
			}
			.row.product .item{
				padding-bottom: 20px;
			}
			.main_bg1{
				margin-top: 50px;
			}
		</style>
		
  </head>

  <body>
  	<div class="header_btm">
			<div class="wrap">
				<div class="header_sub">
					<div class="h_menu">
						<ul>
							<li>
								<img src="../assets/images/logo.png" />
							</li>
							<li><a href="index">首页</a>
							</li> |
							<li><a href="allProducts">全部商品</a>
							</li> |
							<li><a href="play">发现</a>
							</li> |
							<li><a href="try">免费试用</a>
							</li> |
							<li><a href="sale.html">DIY</a>
							</li> |
							<li><a href="#" data-toggle="modal" data-target="#putProduct">分享产品</a>
							</li> |
							<input type="text" value="">
							<input type="submit" value="搜索">
							<li class="login"><a href="#" data-toggle="modal" data-target="#exampleModal">登录</a>
							</li>
							<!--<li><a href="sale.html">创客圈</a></li> |-->
							<!--<li><a href="wallets.html">资讯</a></li> |
							<li><a href="sale.html">众筹</a></li> |-->
							<!--<li class="re"><a href="sale.html">注册</a></li>-->
						</ul>
						<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">登录</button>-->
					</div>
					<div class="top-nav">
						<nav class="nav">
							<a href="#" id="w3-menu-trigger"> </a>
							<ul class="nav-list" style="">
								<li class="nav-item"><a href="index.html">首页</a>
								</li>
								<li class="nav-item"><a href="allProducts.html">全部商品</a>
								</li>
								<li class="nav-item"><a href="handbags.html">创意</a>></li>
								<li class="nav-item"><a href="accessories.html">免费试用</a>
								</li>
								<li class="nav-item"><a href="sale.html">DIY</a>
								</li>
								<li class="nav-item"><a href="sale.html">分享产品</a>
								</li>
							</ul>
						</nav>
						<div class="search_box">
							<form>
								<input type="text" value="Search" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search';}">
								<input type="submit" value="">
							</form>
						</div>
						<div class="clear"> </div>
						<script src="js/responsive.menu.js"></script>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
  	
    {% block content %}{% endblock %}
	
	<!-- start footer -->
		<div class="footer_bg">
			<div class="wrap">
				<div class="footer">
					<!-- start grids_of_4 -->
					<div class="grids_of_4">
						<div class="grid1_of_4">
							<h4>featured sale</h4>
							<ul class="f_nav">
								
								<li><a href="">cole haan</a>
								</li>
							</ul>
						</div>
						<div class="grid1_of_4">
							<h4>mens store</h4>
							<ul class="f_nav">
								
								<li><a href="">cole haan</a>
								</li>
							</ul>
						</div>
						<div class="grid1_of_4">
							<h4>women store</h4>
							<ul class="f_nav">
								
								<li><a href="">cole haan</a>
								</li>
							</ul>
						</div>
						<div class="grid1_of_4">
							<h4>quick links</h4>
							<ul class="f_nav">
								
								<li><a href="">cole haan</a>
								</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	
	<!-- start footer -->
		<div class="footer_bg1">
			<div class="wrap">
				<div class="footer">
					<!-- scroll_top_btn -->
					<script type="text/javascript">
						$(document).ready(function() {
							var defaults = {
								containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear'
							};
							$().UItoTop({
								easingType: 'easeOutQuart'
							});
						});
						$(".PutProduct").on("click",$.ajax(
							var title = $(".form-control").val();
							var url = '';
							var text = $("#thing_feelings_attributes_0_content").val();
							$.getJson("upload",obj,function(data){
								
							});
						));
					</script>
					<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
					<!--end scroll_top_btn -->
					<div class="copy">
						<p class="link">Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a> - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
						</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>	
	
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="exampleModalLabel">New message</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="recipient-name" class="control-label">Recipient:</label>
								<input type="text" class="form-control" id="recipient-name">
							</div>
							<div class="form-group">
								<label for="message-text" class="control-label">Message:</label>
								<textarea class="form-control" id="message-text"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Send message</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="putProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button aria-hidden="true" class="close hidden-md" data-dismiss="modal" type="button">×</button>
						<h4>本地上传</h4>
					</div>
					<div class="modal-body">
						<div class="form-group required">
							<input placeholder="产品名称" class="form-control" required="required" maxlength="41" autocomplete="off" title="请填写产品名称" size="41" type="text" name="thing[title]" data-event="validate">
							<ul class="help-block"></ul>
						</div>
						<label class="uploader_label" data-placement="right" for="new-thing--file-field" title="请为产品上传图片">产品图片</label>
						<div class="uploader_queue" id="photos-for-new-thing">
							<ul>
								<li class="uploader_button">+</li>
							</ul>
							<input type="file" name="photo[image]" id="new-thing--file-field" multiple="multiple" required="required" accept="image/*" data-event="validate">
							<div id="photo_hidden_group"></div>
							<!--<form action="/file/upload" method="post" enctype="multipart/form-data">
	<input type="file" name="file" />
	<input type="submit" value="提交" />
</form>-->
							<div class="help-block">请至少选择一张图片</div>
						</div>
						<div class="form-group clearfix">
							<textarea placeholder="说点什么吧 (发布后会成为短评，字数要限制在140字以内哦)" class="form-control dark" rows="4" maxlength="200" data-maxlength="140" name="thing[feelings_attributes][0][content]" id="thing_feelings_attributes_0_content"></textarea>
							<div class="words-count" style="float: right;">0 / 140</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" type="button">取消</button>
						<button class="btn btn-primary" data-loading-text="提交中" type="submit" class="PutProduct">创建</button>
					</div>
				</div>
			</div>
		</div>
   
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/bxslider-4/dist/jquery.bxslider.min.js"></script>

    <script>
    	(function($){

    		$(document).ready(function(){

    			 $('.js-bxslider').bxSlider({

    			 	  captions: true
    			 });









    		});	
    	})($);
    </script>

  </body>
</html>
