<!DOCTYPE html>
<html>
	<head>
		<title>发现与选择科技产品 | 玩啥社区</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="Keywords" content="求推荐,数码推荐,选购经验,免费试用,手机,智能硬件">
		<meta name="Description" content="玩啥是一个发现和选择靠谱科技产品的消费决策平台。玩啥通过结合专业评测、达人分享、朋友意见来为大众用户进行决策，帮用户用最少的精力地买到最合适、靠谱、高性价比的产品。">
		<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
		<link rel="stylesheet" href="../assets/styles/wansha/10_jquery.placeholder.css">
		<link rel="stylesheet" href="../assets/styles/wansha/11_module.slide.css">
		<link rel="stylesheet" href="../assets/styles/wansha/12_common.css">
		<link rel="stylesheet" href="../assets/styles/wansha/13_index.css">
		<link rel="stylesheet" href="../assets/styles/wansha/14_module.page.css">
		<link rel="stylesheet" href="../assets/styles/wansha/1_reset.css">
		<link rel="stylesheet" href="../assets/styles/wansha/2_module.dialog.css">
		<link rel="stylesheet" href="../assets/styles/wansha/3_module.ask.css">
		<link rel="stylesheet" href="../assets/styles/wansha/4_module.layout.css">
		<link rel="stylesheet" href="../assets/styles/wansha/5_module.common.css">
		<link rel="stylesheet" href="../assets/styles/wansha/6_iconfont.css">
		<link rel="stylesheet" href="../assets/styles/wansha/7_module.icon.css">
		<link rel="stylesheet" href="../assets/styles/wansha/8_button.css">
		<link rel="stylesheet" href="../assets/styles/wansha/9_module.smallnote.css">
	</head>

	<body>
		<div id="wx_pic">
			<img src="picture\1_dba8e96f6ed842fa9ec4250a8ac0402b.png">
		</div>
		<div class="mod-wanshar">
			<div class="mod-main">
				
				<div class="mod-content">
					<div class="mod-index clr">
						<div class="content f-l">
							<div class="mod-try">
								<div class="type"><a href="/try?type=all" class="active">全部</a><span class="divide"></span><a href="/try?type=open">申请中</a><span class="divide"></span><a href="/try?type=trying">体验中</a>
								</div>
								<div class="items clr">
									<div class="item">
										<a href="/try/45" target="_blank">
											<div style="background-image: url(picture\10_8acd00fa61cc4f26bbd73072aff27f94.jpg@!tryitem)" class="cover-img"></div>
										</a>
										<div class="info open-info"><span class="count">20</span><span class="unit">件</span><span class="divide"></span><span class="wrap"><a href="/try/45" target="_blank" title="全世界最有爱的智能路由，爱路由首发试用！" class="title">全世界最有爱的智能路由，爱路由首发试用！</a><br><span class="price-unit">￥</span>
											<span
											class="price">89</span>
												</span>
										</div>
										<div class="mini-info open-info">
											<p class="title">全世界最有爱的智能路由，爱路由首发试用！</p>
											<div><span class="info-tag"><span class="count">20</span><span class="unit">件</span></span><span class="info-tag"><span class="price-unit">￥</span><span class="price">89</span></span><span class="info-tag">5 件可抽奖</span>
											</div>
										</div>
										<div class="status"><span class="count">310</span><span>人已经申请</span><a href="/try/45" target="_blank" class="apply-btn status-btn">免费申请</a>
										</div>
									</div>
									<div class="item">
										<a href="/try/46" target="_blank">
											<div style="background-image: url(picture\11_e5de9b3de86646c195863cc5442195ed.jpg@!tryitem)" class="cover-img"></div>
										</a>
										<div class="info open-info"><span class="count">10</span><span class="unit">件</span><span class="divide"></span><span class="wrap"><a href="/try/46" target="_blank" title="可监测心率和情绪的智能手环，37度手环试用" class="title">可监测心率和情绪的智能手环，37度手环试用</a><br><span class="price-unit">￥</span>
											<span
											class="price">99</span>
												</span>
										</div>
										<div class="mini-info open-info">
											<p class="title">可监测心率和情绪的智能手环，37度手环试用</p>
											<div><span class="info-tag"><span class="count">10</span><span class="unit">件</span></span><span class="info-tag"><span class="price-unit">￥</span><span class="price">99</span></span><span class="info-tag">5 件可抽奖</span>
											</div>
										</div>
										<div class="status"><span class="count">14</span><span>人已经申请</span><a href="/try/46" target="_blank" class="apply-btn status-btn">免费申请</a>
										</div>
									</div>
									<div class="item">
										<a href="/try/25" target="_blank">
											<div style="background-image: url(picture\12_afc6319922bb4791b76415218484c007.jpg@!tryitem)" class="cover-img"></div>
										</a>
										<div class="info trying-info"><span class="count">10</span><span class="unit">件</span><span class="divide"></span><span class="wrap"><a href="/try/25" target="_blank" title="10台Apple Watch抽奖，玩啥社区豁出去了！" class="title">10台Apple Watch抽奖，玩啥社区豁出去了！</a><br><span class="price-unit">￥</span>
											<span
											class="price">2588元</span>
												</span>
										</div>
										<div class="mini-info trying-info">
											<p class="title">10台Apple Watch抽奖，玩啥社区豁出去了！</p>
											<div><span class="info-tag"><span class="count">10</span><span class="unit">件</span></span><span class="info-tag"><span class="price-unit">￥</span><span class="price">2588元</span></span><span class="info-tag">10 件可抽奖</span>
											</div>
										</div>
										<div class="status"><span><span>2623&nbsp;人已经申请</span>
											<br><span class="trying-desc"><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><span>体验中</span></span>
											</span><a href="/try/25" target="_blank" class="trying-btn status-btn">围观大神</a>
										</div>
									</div>
									<div class="item">
										<a href="/try/44" target="_blank">
											<div style="background-image: url(picture\13_6b52ef6914634ecaa619671c545b62a4.jpg@!tryitem)" class="cover-img"></div>
										</a>
										<div class="info trying-info"><span class="count">10</span><span class="unit">件</span><span class="divide"></span><span class="wrap"><a href="/try/44" target="_blank" title="最美智能水杯，Waterever智能水杯首发试用！" class="title">最美智能水杯，Waterever智能水杯首发试用！</a><br><span class="price-unit">￥</span>
											<span
											class="price">429</span>
												</span>
										</div>
										<div class="mini-info trying-info">
											<p class="title">最美智能水杯，Waterever智能水杯首发试用！</p>
											<div><span class="info-tag"><span class="count">10</span><span class="unit">件</span></span><span class="info-tag"><span class="price-unit">￥</span><span class="price">429</span></span><span class="info-tag">5 件可抽奖</span>
											</div>
										</div>
										<div class="status"><span><span>537&nbsp;人已经申请</span>
											<br><span class="trying-desc"><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><span>体验中</span></span>
											</span><a href="/try/44" target="_blank" class="trying-btn status-btn">围观大神</a>
										</div>
									</div>
									<div class="item">
										<a href="/try/43" target="_blank">
											<div style="background-image: url(picture\14_c5829f442bcb4d74b3c61f4f37415f62.jpg@!tryitem)" class="cover-img"></div>
										</a>
										<div class="info trying-info"><span class="count">10</span><span class="unit">件</span><span class="divide"></span><span class="wrap"><a href="/try/43" target="_blank" title="国内最强运动摄像头，萤石S1试用" class="title">国内最强运动摄像头，萤石S1试用</a><br><span class="price-unit">￥</span><span class="price">1699</span></span>
										</div>
										<div class="mini-info trying-info">
											<p class="title">国内最强运动摄像头，萤石S1试用</p>
											<div><span class="info-tag"><span class="count">10</span><span class="unit">件</span></span><span class="info-tag"><span class="price-unit">￥</span><span class="price">1699</span></span><span class="info-tag">0 件可抽奖</span>
											</div>
										</div>
										<div class="status"><span><span>303&nbsp;人已经申请</span>
											<br><span class="trying-desc"><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><span>体验中</span></span>
											</span><a href="/try/43" target="_blank" class="trying-btn status-btn">围观大神</a>
										</div>
									</div>
									<div class="item">
										<a href="/try/42" target="_blank">
											<div style="background-image: url(picture\15_ea011bbd3b6f4750a23446c5d6768c4a.jpg@!tryitem)" class="cover-img"></div>
										</a>
										<div class="info trying-info"><span class="count">8</span><span class="unit">件</span><span class="divide"></span><span class="wrap"><a href="/try/42" target="_blank" title=" 虚拟与现实无限视界，SVR Glass试用" class="title"> 虚拟与现实无限视界，SVR Glass试用</a><br><span class="price-unit">￥</span>
											<span
											class="price">249</span>
												</span>
										</div>
										<div class="mini-info trying-info">
											<p class="title"> 虚拟与现实无限视界，SVR Glass试用</p>
											<div><span class="info-tag"><span class="count">8</span><span class="unit">件</span></span><span class="info-tag"><span class="price-unit">￥</span><span class="price">249</span></span><span class="info-tag">0 件可抽奖</span>
											</div>
										</div>
										<div class="status"><span><span>344&nbsp;人已经申请</span>
											<br><span class="trying-desc"><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><span>体验中</span></span>
											</span><a href="/try/42" target="_blank" class="trying-btn status-btn">围观大神</a>
										</div>
									</div>
									<div class="item">
										<a href="/try/41" target="_blank">
											<div style="background-image: url(picture\16_1d9c65e8c47441aa80b4ef88038c69cf.jpg@!tryitem)" class="cover-img"></div>
										</a>
										<div class="info trying-info"><span class="count">10</span><span class="unit">件</span><span class="divide"></span><span class="wrap"><a href="/try/41" target="_blank" title="747一样的极速上网体验，747智能3G随身WIFI盒子试用" class="title">747一样的极速上网体验，747智能3G随身WIFI盒子试用</a><br><span class="price-unit">￥</span>
											<span
											class="price">499</span>
												</span>
										</div>
										<div class="mini-info trying-info">
											<p class="title">747一样的极速上网体验，747智能3G随身WIFI盒子试用</p>
											<div><span class="info-tag"><span class="count">10</span><span class="unit">件</span></span><span class="info-tag"><span class="price-unit">￥</span><span class="price">499</span></span><span class="info-tag">5 件可抽奖</span>
											</div>
										</div>
										<div class="status"><span><span>370&nbsp;人已经申请</span>
											<br><span class="trying-desc"><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><span>体验中</span></span>
											</span><a href="/try/41" target="_blank" class="trying-btn status-btn">围观大神</a>
										</div>
									</div>
									<div class="item">
										<a href="/try/40" target="_blank">
											<div style="background-image: url(picture\17_94a4ac864f854d77a39641b5a833b1fc.jpg@!tryitem)" class="cover-img"></div>
										</a>
										<div class="info closed-info"><span class="count">3</span><span class="unit">件</span><span class="divide"></span><span class="wrap"><a href="/try/40" target="_blank" title="全球首款6防运动相机，云狐运动相机首发试用" class="title">全球首款6防运动相机，云狐运动相机首发试用</a><br><span class="price-unit">￥</span>
											<span
											class="price">3580</span>
												</span>
										</div>
										<div class="mini-info closed-info">
											<p class="title">全球首款6防运动相机，云狐运动相机首发试用</p>
											<div><span class="info-tag"><span class="count">3</span><span class="unit">件</span></span><span class="info-tag"><span class="price-unit">￥</span><span class="price">3580</span></span><span class="info-tag">0 件可抽奖</span>
											</div>
										</div>
										<div class="status"><span><span>321&nbsp;人已经申请</span>
											<br><span><em class="gicon-timer"></em><span>已结束</span></span>
											</span><a href="/try/40" target="_blank" class="closed-btn status-btn">浏览评测</a>
										</div>
									</div>
									<div class="item">
										<a href="/try/39" target="_blank">
											<div style="background-image: url(picture\18_d97f74bec54b48e7abeb214d55a684ae.jpg@!tryitem)" class="cover-img"></div>
										</a>
										<div class="info trying-info"><span class="count">10</span><span class="unit">件</span><span class="divide"></span><span class="wrap"><a href="/try/39" target="_blank" title="愚人节快乐！史上最有节操的尤品U1首发试用！" class="title">愚人节快乐！史上最有节操的尤品U1首发试用！</a><br><span class="price-unit">￥</span>
											<span
											class="price">299</span>
												</span>
										</div>
										<div class="mini-info trying-info">
											<p class="title">愚人节快乐！史上最有节操的尤品U1首发试用！</p>
											<div><span class="info-tag"><span class="count">10</span><span class="unit">件</span></span><span class="info-tag"><span class="price-unit">￥</span><span class="price">299</span></span><span class="info-tag">5 件可抽奖</span>
											</div>
										</div>
										<div class="status"><span><span>651&nbsp;人已经申请</span>
											<br><span class="trying-desc"><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><em class="gicon-smember"></em><span>体验中</span></span>
											</span><a href="/try/39" target="_blank" class="trying-btn status-btn">围观大神</a>
										</div>
									</div>
									<div class="item">
										<a href="/try/31" target="_blank">
											<div style="background-image: url(picture\19_ec21e4737bf14df68a56eb6fc39415f9.jpg@!tryitem)" class="cover-img"></div>
										</a>
										<div class="info closed-info"><span class="count">20</span><span class="unit">件</span><span class="divide"></span><span class="wrap"><a href="/try/31" target="_blank" title="首款智能移动电源，豆能智能充电宝首发试用" class="title">首款智能移动电源，豆能智能充电宝首发试用</a><br><span class="price-unit">￥</span>
											<span
											class="price">199</span>
												</span>
										</div>
										<div class="mini-info closed-info">
											<p class="title">首款智能移动电源，豆能智能充电宝首发试用</p>
											<div><span class="info-tag"><span class="count">20</span><span class="unit">件</span></span><span class="info-tag"><span class="price-unit">￥</span><span class="price">199</span></span><span class="info-tag">10 件可抽奖</span>
											</div>
										</div>
										<div class="status"><span><span>486&nbsp;人已经申请</span>
											<br><span><em class="gicon-timer"></em><span>已结束</span></span>
											</span><a href="/try/31" target="_blank" class="closed-btn status-btn">浏览评测</a>
										</div>
									</div>
								</div>
								<div class="page-wrap">
									<div class="mod-page"><a class="disabled prev">上一页</a><a class="active page-index">1</a><a href="/try?pageIndex=2" class="page-index">2</a><a href="/try?pageIndex=3" class="page-index">3</a><a href="/try?pageIndex=4" class="page-index">4</a><a href="/try?pageIndex=2"
										class="next">下一页</a>
									</div>
									<link rel="stylesheet" href="css\14_module.page.css?4c3a92">
								</div>
							</div>
						</div>
						<div class="aside f-r">
							<div class="mod-try-help-wrap">
								<div class="mod-try-help">
									<h2>免费试用说明</h2>
									<p class="desc">试用邦是玩啥社区的免费试用频道，是门槛最低、产品最多最实用的科技产品试用平台。</p><a href="http://www.wanshar.com/article/1808/view" target="_blank">试用邦活动规则FAQ &gt;&gt;</a>
									<div class="step-wrap">
										<div class="step"><span class="item">1</span><span class="divide"></span><span class="item">2</span><span class="divide"></span><span class="item">3</span><span class="divide"></span><span class="item">4</span>
										</div>
										<div class="step-desc"><span class="item">提交报名</span><span class="item">申请成功</span><span class="item">收货试用</span><span class="item">提交报告</span>
										</div>
									</div>
								</div>
							</div>
							<div class="mod-hot-articles">
								<h2><span>热门评测&nbsp;</span><em class="gicon-hot"></em></h2>
								<a href="/article/2067/try">
									<div class="article">
										<div style="background-image: url(picture\20_ed034d5057664de39af40d267f1c2cec.jpg@!hot)" class="article-bg cover-img"></div>
										<div class="article-info">
											<p>轻小身材，蕴含高端技术—派诺特Rolling Spider飞行器体验</p>
											<p class="article-count"><em class="gicon-like"></em><span>7</span><em class="gicon-comment"></em><span>8</span>
											</p>
										</div>
									</div>
								</a>
								<a href="/article/2053/try">
									<div class="article">
										<div style="background-image: url(picture\21_00cd4d3b5e204f48b2da3947c4f0f110.jpg@!hot)" class="article-bg cover-img"></div>
										<div class="article-info">
											<p>多功能移动上网好伴侣 - 747 盒子体验评测</p>
											<p class="article-count"><em class="gicon-like"></em><span>3</span><em class="gicon-comment"></em><span>1</span>
											</p>
										</div>
									</div>
								</a>
								<a href="/article/2046/try">
									<div class="article">
										<div style="background-image: url(picture\22_3611bbae027b4767964948f044d289bf.JPG@!hot)" class="article-bg cover-img"></div>
										<div class="article-info">
											<p>全屏幕触控，实用性强--Now智能手环</p>
											<p class="article-count"><em class="gicon-like"></em><span>9</span><em class="gicon-comment"></em><span>10</span>
											</p>
										</div>
									</div>
								</a>
								<a href="/article/2043/try">
									<div class="article">
										<div style="background-image: url(picture\23_e51b1e79a3b54361b1a30f610f5a2f3c.jpg@!hot)" class="article-bg cover-img"></div>
										<div class="article-info">
											<p>并不智能的智能手柄-酷比魔方手柄测评</p>
											<p class="article-count"><em class="gicon-like"></em><span>1</span><em class="gicon-comment"></em><span>0</span>
											</p>
										</div>
									</div>
								</a>
								<a href="/article/2035/try">
									<div class="article">
										<div style="background-image: url(picture\24_5536f66bb3704e4085908679fa9f92ae.jpg@!hot)" class="article-bg cover-img"></div>
										<div class="article-info">
											<p>小米插线板 抢先看！</p>
											<p class="article-count"><em class="gicon-like"></em><span>0</span><em class="gicon-comment"></em><span>0</span>
											</p>
										</div>
									</div>
								</a>
								<a href="/article/2023/try">
									<div class="article">
										<div style="background-image: url(picture\25_2a426d97528f4a05a9564055aaf74c87.png@!hot)" class="article-bg cover-img"></div>
										<div class="article-info">
											<p>【图文视频】青核桃空气卫士体验——胜在实用！</p>
											<p class="article-count"><em class="gicon-like"></em><span>8</span><em class="gicon-comment"></em><span>9</span>
											</p>
										</div>
									</div>
								</a>
								<a href="/article/1996/try">
									<div class="article">
										<div style="background-image: url(picture\26_ed58ddd6fcaf44238520da6feded948f.JPG@!hot)" class="article-bg cover-img"></div>
										<div class="article-info">
											<p>是创新还是噱头? 加点P1蓝牙智能手表体验</p>
											<p class="article-count"><em class="gicon-like"></em><span>7</span><em class="gicon-comment"></em><span>1</span>
											</p>
										</div>
									</div>
								</a>
								<a href="/article/1980/try">
									<div class="article">
										<div style="background-image: url(picture\27_4c4cdf929fe647239b56139c51792475.jpg@!hot)" class="article-bg cover-img"></div>
										<div class="article-info">
											<p>敢把这“干”货分享给你的女神吗？</p>
											<p class="article-count"><em class="gicon-like"></em><span>9</span><em class="gicon-comment"></em><span>5</span>
											</p>
										</div>
									</div>
								</a>
								<a href="/article/1979/try">
									<div class="article">
										<div style="background-image: url(picture\28_b7cc5ca225f64d198e14ac10c96c2f24.jpg@!hot)" class="article-bg cover-img"></div>
										<div class="article-info">
											<p>#男人学会爱自己#有一种杯具你不能拒绝</p>
											<p class="article-count"><em class="gicon-like"></em><span>22</span><em class="gicon-comment"></em><span>11</span>
											</p>
										</div>
									</div>
								</a>
								<a href="/article/1925/try">
									<div class="article">
										<div style="background-image: url(picture\29_8859620ee77845ce8079896f733fd61d.jpg@!hot)" class="article-bg cover-img"></div>
										<div class="article-info">
											<p>因智而生，为乐而狂---讯飞wifi智能音箱X1简评</p>
											<p class="article-count"><em class="gicon-like"></em><span>5</span><em class="gicon-comment"></em><span>3</span>
											</p>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="backtop"><i class="iconfont">&#xe600;</i>
		</div>
		
		
		
		<!--Created by x on 14-7-30.-->
		<script src="../assets/js/wansha/15_libs.min.js"></script>
		<script src="../assets/js/wansha/16_module.common.js"></script>
		<script src="../assets/js/wansha/17_module.dialog.js"></script>
		<script src="../assets/js/wansha/18_module.ask.js"></script>
		<script src="../assets/js/wansha/19_module.layout.js"></script>
		<script src="../assets/js/wansha/20_module.smallnote.js"></script>
		<script src="../assets/js/wansha/21_jquery.placeholder.js"></script>
		
		<div style="display:none;">
			<script src="http://s95.cnzz.com/z_stat.php?id=1254443849&amp;web_id=1254443849" language="JavaScript"></script>
		</div>
		<script>
			window.pageConfig = {
				isMobile: false,
				isWeixin: false,
				me: null || {}
			}
		</script>
		<script src="../assets/js/wansha/22_touch.js"></script>
		<script src="../assets/js/wansha/23_module.slide.js"></script>
		<script src="../assets/js/wansha/24_index.js"></script>
	</body>

</html>