
    <!-- /.modal -->
    <div class="modal fade" id="putProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" class="close hidden-md" data-dismiss="modal" type="button">×</button>
                    <h4>本地上传</h4>
                </div>
                <form class="form-horizontal" action="/product/shareProduct" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group required">
                        <input placeholder="产品名称" class="form-control" required="required" maxlength="41" autocomplete="off" title="请填写产品名称" size="41" type="text" name="name" data-event="validate">
                        <ul class="help-block"></ul>
                    </div>
                    <label class="uploader_label" data-placement="right" for="new-thing--file-field" title="请为产品上传图片">产品图片</label>
                    <div class="uploader_queue" id="photos-for-new-thing">
                        <!-- <ul>
                            <li class="uploader_button">+</li>
                        </ul> -->
                        <div id="preview" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale); width:180px;height:190px;border:solid 1px black;">
                        <input type="file" name="file" id="fileid" onchange="preImg(this.id,'imgid');" multiple="multiple" required="required" accept="image/*" data-event="validate">
                        <div id="photo_hidden_group"></div>
                        <!--<form action="/file/upload" method="post" enctype="multipart/form-data">
	<input type="file" name="file" />
	<input type="submit" value="提交" />
</form>-->
                        <div class="help-block">只能选择一张图片</div>
                    </div>
                    <div class="form-group clearfix">
                        <textarea placeholder="说点什么吧 (发布后会成为短评，字数要限制在140字以内哦)" class="form-control dark" rows="4" maxlength="200" data-maxlength="140" name="content" id="thing_feelings_attributes_0_content">
                            
                        </textarea>
                        <div class="words-count" style="float: right;">0 / 140</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">取消</button>
                    <button class="btn btn-primary" data-loading-text="提交中" type="submit" class="PutProduct">创建</button>
                </div>
            </div>
            </form>
        </div>
    </div>