/**
  * @name zhangyy-g@grandsoft.com.cn
  * @description zhangyy's code
  * Date: 14-7-30
  * Time: 下午2:25
  *
  */
[class^="licon-"],
[class*="licon-"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    background: url(1_layout.png) no-repeat;
}
.licon-add {
    background-position: 0 0;
}
.licon-down {
    background-position: -20px 0;
}
.licon-weibo {
    background-position: -40px 0;
    width: 32px;
}
#wx_pic{
    position: absolute;
    top: -100000px;
}
.mod-wanshar{
    width: 1100px;
    margin: 0 auto;
    min-height: 100%;
}
.mod-wanshar .mod-main-wrap {
    min-height: 100%;
}
.mod-wanshar .mod-main{
    padding-bottom: 160px;
}
.minisite .mod-wanshar .mod-main{
    padding-bottom: 240px;
}
.minisite .mod-wanshar {
    width: 100%;
}

/**大屏样式**/
.mod-header-wrap {
    height: 100px;
    line-height: 100px;
    position: relative;
}

.minisite .mod-wanshar .mod-header-wrap{
    display: none;
}

.mod-header-wrap .logo{
    vertical-align: middle;
    width: 172px;
    height: 46px;
}

.mod-header-wrap .ask-header {
    display: inline-block;
    margin-left: 20px;
}

.ask-header .ask-input-wrap {
    display: inline-block;
    border: 1px solid #ddd;
    border-right: 0;
    height: 30px;
    line-height: 29px;
    padding: 0 5px;
    width: 200px;
    vertical-align: middle;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.ask-header .ask-input-wrap .ask-input {
    width: 100%;
    height: 100%;
}

.ask-header .ask-btn {
    display: inline-block;
    padding: 0 10px;
    height: 32px;
    background-color: #2ecbda;
    vertical-align: middle;
    line-height: 32px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.mod-header-wrap .nav{
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}
.mod-header-wrap .nav a{
    color: #888;
    display: block;
    float: left;
    text-align: center;
    line-height: 35px;
    padding: 0 2px 0 5px;
    margin-right: 20px;
    letter-spacing: 0.2em;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
    border-bottom: 2px solid transparent;
}

.mod-header-wrap .nav a:hover {
    color: #333;
    border-bottom: 2px solid #ccc;
    text-decoration: none;
}
.mod-header-wrap .nav a.active{
    color: #333;
    border-bottom: 2px solid #2ecbda;
}
.mod-header-wrap .nav-right {
    position: absolute;
    right: 0;
    top: 0;
}

.mod-header-wrap .message-wrap{
    height: 32px;
    line-height: 32px;
    color: #666;
    cursor: pointer;
    float: left;
    position: relative;
    margin-top: 34px;
    margin-right: 60px;
}

.mod-header-wrap .message-wrap > .iconfont {
    font-size: 30px;
}

.mod-header-wrap .message-wrap .dropdown{
    position: absolute;
    width: 150px;
    top: 32px;
    left: -120px;
    right: 0;
    overflow: hidden;
    text-align: left;
    background-color: #fff;
    z-index: 2;
    border: 2px solid #ddd;
    box-shadow: 3px 3px 6px #ccc;
    display: none;
}

.mod-header-wrap .message-wrap:hover{
    border-radius: 5px 5px 0 0;
}
.mod-header-wrap .message-wrap:hover .dropdown{
    display: block;
}

.mod-header-wrap .message-wrap .dropdown .iconfont {
    font-size: 22px;
}

.mod-header-wrap .message-wrap .dropdown a{
    display: block;
    color: #666;
    text-indent: 1em;
    line-height: 40px;
}

.mod-header-wrap .message-wrap .dropdown a:hover {
    background-color: #e0eff0;
    color: #333;
}
.mod-header-wrap .message-wrap a.all {
    text-align: center;
    text-indent: 0;
    border-top: 1px solid #ddd;
}

.message-wrap .totalcount,
.message-wrap .dropdown .count {
    background-color: red;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    text-indent: 0;
    height: 20px;
    vertical-align: middle;
    min-width: 20px;
    line-height: 20px;
    margin-left: 10px;
    color: #fff;
    display: none;
}
.message-wrap .totalcount {
    position: absolute;
    right: -10px;
    top: -10px;
    margin-left: 0;
}

.minisite .message-wrap .totalcount {
    top: 1px;
    right: 1px;
    font-size: 12px;
    padding: 0;
}

.mod-header-wrap .userinfo{
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    background-color: #e0eff0;
    text-align: center;
    color: #21b7c6;
    cursor: pointer;
    float: left;
    position: relative;
    margin-top: 34px;
}

.mod-header-wrap .userinfo span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 200px;
    vertical-align: middle;
}

.mod-header-wrap .userinfo .dropdown{
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0;
    text-align: left;
    border-radius: 0 0 5px 5px;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
    background-color: #e0eff0;
    z-index: 1;
}

.mod-header-wrap .userinfo:hover{
    border-radius: 5px 5px 0 0;
}
.mod-header-wrap .userinfo:hover .dropdown{
    height: 192px;
}

.mod-header-wrap .userinfo a.username{
    color: #21b7c6;
}

.mod-header-wrap .userinfo .dropdown a{
    display: block;
    color: #21b7c6;
    text-indent: 1em;
}

.mod-header-wrap .userinfo .dropdown a:hover {
    background-color: #ddd;
    color: #333;
}

.mod-header-wrap .unlogin {
    position: absolute;
    top: 0;
    right: 0;
}

.mod-header-wrap .unlogin a{
    font-size: 14px;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    padding: 0 2px 0 5px;
    margin-right: 5px;
    letter-spacing: 0.2em;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
    border-bottom: 2px solid transparent;
}

.mod-header-wrap .unlogin a:hover {
    color: #333;
    border-bottom: 2px solid #ccc;
}

/**小屏头部**/
.mod-mini-header-wrap {
    display: none;
    height: 45px;
    line-height: 45px;
    position: fixed;
    background-color: rgba(236,236,236,0.8);
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}
.minisite .mod-wanshar .mod-mini-header-wrap{
    display: block;
}

.mod-mini-header-wrap .logo{
    vertical-align: middle;
    width: auto;
    height: 23px;
    margin-left: 5px;
}

.mod-mini-header-wrap .dropdown-btn {
    padding: 6px 8px;
    margin-top: 8px;
    margin-right: 5px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
}

.mod-mini-header-wrap .dropdown-btn span{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #666;
    margin-top: 4px;
}
.mod-mini-header-wrap .dropdown-btn span:first-child{
    margin-top: 0;
}

.mod-mini-header-wrap .dropdown-wrap {
    position: absolute;
    line-height: 25px;
    left: 0;
    right: 0;
    top: 40px;
    background-color: #333;
    z-index: 10000;
    overflow: hidden;
    display: none;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
    margin-left: -1px;
    overflow: hidden;
    padding-bottom: 5px;
}

.mod-mini-header-wrap .dropdown-wrap.active {
    display: block;
}

.mod-mini-header-wrap .item-wrap h2 {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 0 10px;
    margin: 0;
    font-size: 15px;
}

.mod-mini-header-wrap .item-wrap .username {
    display: inline-block;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mod-mini-header-wrap .item a.message-wrap {
    position: relative;
}

.mod-mini-header-wrap .item a.message-wrap .totalcount {
    padding: 2px;
}

.mod-mini-header-wrap .item-wrap a {
    color: #fff;
}

.mod-mini-header-wrap .item a {
    width: 33%;
    border-left: 1px solid #ddd;
    display: inline-block;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 1px;
}
.mod-mini-header-wrap .item a.w50 {
    width: 49%;
}

.mod-mini-header-wrap .item a.last {
    border-right: 1px solid #fff;
}
/*.mod-mini-header-wrap .item a:last-child{
    border-right: 1px solid #ddd;
}*/
.mod-mini-header-wrap .item a:hover,
.mod-mini-header-wrap .item a.active{
    background-color: #fff;
    color: #333;
}

.minisite .mod-wanshar .mod-content{
    margin-top: 44px;
    padding-top: 1px;
}

.backtop {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 48px;
    height: 48px;
    color: #666;
    border: 1px solid #ddd;
    cursor: pointer;
    line-height: 48px;
    text-align: center;
    display: none;
    background-color: #fff;
    z-index: 100000;
}

.backtop:hover {
    color: #fff;
    background-color: #2ecbda;
}

/**尾部**/
.mod-footer-wrap{
    width: 1100px;
    margin: 0 auto;
    border-top: 4px solid #2ecbda;
    text-align: center;
    position: relative;
    margin-top: -130px; /* footer高度的负值 */
    height: 126px;
    clear:both;
    overflow: hidden;
}

.minisite .mod-footer-wrap {
    height: 206px;
    margin-top: -210px;
    width: 100%;
}

.mod-footer-wrap .mod-footer{
    display: inline-block;
    width: 470px;
    margin: 0 auto;
    margin-top: 18px;
}

.minisite .mod-footer-wrap .mod-footer{
    width: 96%;
    padding: 0 2%;
}

.mod-footer-wrap .nav {
    margin-bottom: 20px;
    text-align: center;
}

.mod-footer-wrap .nav a{
    font-size: 18px;
    color: #333;
}

.mod-footer-wrap .nav .nav-item{
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid #333;
}

.mod-footer-wrap .nav .nav-item:hover{
    text-decoration: underline;
}

.mod-footer-wrap .nav .weibo-item{
    margin-left: 15px;
}

.minisite .mod-footer-wrap .nav a{
    font-size: 14px;
}

.minisite .mod-footer-wrap .nav .nav-item{
    margin-left: 5px;
    padding-left: 5px;
    border-left: 2px solid #333;
}

.mod-footer-wrap .nav .nav-item:first-child{
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
}

.mod-footer-wrap p {
    color: #999;
    line-height: 25px;
    font-size: 12px;
}

.mod-footer-wrap img{
    margin-top: 6px;
    display: inline-block;
    vertical-align: middle;
}

.minisite .mod-footer-wrap .banquan {
    display: none;
}

.mod-footer-wrap .weixin-wrap {
    position: absolute;
    right: 10px;
    top: 0;
}

.minisite .mod-footer-wrap .weixin-wrap{
    position: inherit;
}

.mod-footer-wrap .weixin {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}